<div class="content" fxLayout="column" fxLayout.sm="column" fxLayoutGap="16px">


  <!-- card-1 -->
  <md-card fxFlex="100">
    <md-tab-group style="min-height:500px;" (selectChange)="onTabClick($event)">

      <md-tab label="PREVIEW" class="tab-preview">
        <div style=" padding:20px;">

          <md-card>
            <p>Example Card</p>
          </md-card>

        </div>
      </md-tab>

      <md-tab label="HTML">
        <pre> 
        <code class="html">
          {{ html_exp_1 }}
        </code>
      </pre>
      </md-tab>

      <md-tab label="TS">
        <pre>
        <code class="javascript">
          {{ javascript_exp_1 }} 
        </code>
      </pre>
      </md-tab>

      <md-tab label="CSS">
        <pre>
        <code class="css">
          {{ css_exp_1 }} 
        </code> 
      </pre>
      </md-tab>

    </md-tab-group>
  </md-card>

  <!-- card-2 -->
  <md-card fxFlex="100">
    <md-tab-group style="min-height:500px;" (selectChange)="onTabClick($event)">

      <md-tab label="PREVIEW" class="tab-preview">
        <div style=" padding:20px;">

          <md-card style="max-width:300px;">
            <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>Shiba Inu</md-card-title>
              <md-card-subtitle>Dog Breed</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="../../../assets/img/shiba2.jpg">
            <md-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-button>LIKE</button>
              <button md-button>SHARE</button>
            </md-card-actions>
          </md-card>

        </div>
      </md-tab>

      <md-tab label="HTML">
        <pre> 
        <code class="html">
          {{ html_exp_1 }}
        </code>
      </pre>
      </md-tab>

      <md-tab label="TS">
        <pre>
        <code class="javascript">
          {{ javascript_exp_1 }} 
        </code>
      </pre>
      </md-tab>

      <md-tab label="CSS">
        <pre>
        <code class="css">
          {{ css_exp_1 }} 
        </code> 
      </pre>
      </md-tab>

    </md-tab-group>
  </md-card>
  
  <!-- card-3 -->
  <md-card fxFlex="100">
    <md-tab-group style="min-height:500px;" (selectChange)="onTabClick($event)">

      <md-tab label="PREVIEW" class="tab-preview">
        <div style=" padding:20px;"> 

          <md-card style="max-width:300px;">
            <md-card-header>
              <md-card-title><h3>Card Title</h3></md-card-title>
              <md-card-subtitle>Subtitle</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="../../../assets/img/shiba2.jpg">
            <md-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-button>LIKE</button>
              <button md-button>SHARE</button>
            </md-card-actions>
          </md-card>

        </div>
      </md-tab>

      <md-tab label="HTML">
        <pre> 
          <code class="html">
            {{ html_exp_3 }}
          </code>
        </pre>
      </md-tab>

      <md-tab label="TS">
        <pre>
          <code class="javascript">
            {{ javascript_exp_3 }} 
          </code>
        </pre>
      </md-tab>

      <md-tab label="CSS">
        <pre>
          <code class="css">
            {{ css_exp_3 }} 
          </code> 
        </pre>
      </md-tab>

    </md-tab-group>
  </md-card>

  <!-- card-4 -->
  <md-card fxFlex="100">
    <md-tab-group style="min-height:500px;" (selectChange)="onTabClick($event)">

      <md-tab label="PREVIEW" class="tab-preview">
        <div style=" padding:20px;"> 

          <md-card style="max-width:300px;">
            <img md-card-image src="../../../assets/img/shiba2.jpg">
            <md-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-button>LIKE</button>
              <button md-button>SHARE</button>
            </md-card-actions>
          </md-card>

        </div>
      </md-tab>

      <md-tab label="HTML">
        <pre> 
          <code class="html">
            {{ html_exp_4 }}
          </code>
        </pre>
      </md-tab>

      <md-tab label="TS">
        <pre>
          <code class="javascript">
            {{ javascript_exp_4 }} 
          </code>
        </pre>
      </md-tab>

      <md-tab label="CSS">
        <pre>
          <code class="css">
            {{ css_exp_4 }} 
          </code> 
        </pre>
      </md-tab>

    </md-tab-group>
  </md-card>

  <!-- card-5 -->
  <md-card fxFlex="100">
    <md-tab-group style="min-height:500px;" (selectChange)="onTabClick($event)">

      <md-tab label="PREVIEW" class="tab-preview">
        <div style=" padding:20px;"> 

          <md-card style="width:500px;">
            <div fxLayout="row" >
              <div fxFlex="50" style="padding-right: 10px;">
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                  very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
                <md-card-actions style="margin-bottom:0px; padding-bottom:0px">
                  <button md-button>LIKE</button>
                  <button md-button>SHARE</button>
                </md-card-actions>
              </div>
              <div fxFlex="50">
                <img  src="../../../assets/img/shiba2.jpg" style="width:100%; margin-top: 0px">
              </div>
            </div>
          </md-card>

        </div>
      </md-tab>

      <md-tab label="HTML">
        <pre> 
          <code class="html">
            {{ html_exp_5 }}
          </code>
        </pre>
      </md-tab>

      <md-tab label="TS">
        <pre>
          <code class="javascript">
            {{ javascript_exp_5 }} 
          </code>
        </pre>
      </md-tab>

      <md-tab label="CSS">
        <pre>
          <code class="css">
            {{ css_exp_5 }} 
          </code> 
        </pre>
      </md-tab>

    </md-tab-group>
  </md-card>

</div>
