
<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme" style="width:100%;">

  <md-toolbar color="primary">
    <span>Angular Material</span>

    <span fxFlex></span>

    <button md-icon-button [mdMenuTriggerFor]="themeMenu">
      <md-icon>more_vert</md-icon>
    </button>

  </md-toolbar>
  


  <md-sidenav-container>

    <md-sidenav mode="side" opened>
      <md-tab-group>
        <md-tab label="Users">

          <md-nav-list>
            <md-list-item *ngFor="let menulist of menulists" (click)="selectedMenuItem(menulist)">
              <a routerLink="{{menulist.link}}">{{menulist.name}} </a>
            </md-list-item>
          </md-nav-list>
          
        </md-tab>
      </md-tab-group>

    </md-sidenav>

    <router-outlet></router-outlet>

    <!--<div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">

      <md-card fxFlex="50">
        gg
      </md-card>

      <md-card fxFlex fxLayout="column" fxLayoutGap="14px">
        ff
      </md-card>

    </div>-->

  </md-sidenav-container>



  <md-menu #themeMenu x-position="before">
    <button md-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
  </md-menu>

</div>

