<div class="content" fxLayout="column" fxLayout.sm="column" fxLayoutGap="16px">


  <md-card fxFlex="100" fxLayout="column" fxLayoutGap="14px" style="padding:0px;">
    <md-tab-group style="min-height:500px;" (selectChange)="onTabClick($event)">
      <md-tab label="PREVIEW" class="tab-preview">
        <div style=" padding:20px;">

          <button md-button>Flat button</button>
          <button md-raised-button>Raised button</button>
          <button md-fab><md-icon>check</md-icon></button>
          <button md-mini-fab><md-icon>check</md-icon></button>

          <!-- Link Buttons  -->

          <a md-button routerLink=".">Flat button</a>
          <a md-raised-button routerLink=".">Raised button</a>
          <a md-fab routerLink="."><md-icon>check</md-icon></a>
          <a md-mini-fab routerLink="."><md-icon>check</md-icon></a>

        </div>
      </md-tab>

      <md-tab label="HTML">
        <pre>
          <code class="html">
            {{ html }}
          </code>
        </pre>
      </md-tab>

      <md-tab label="TS">
        <pre>
          <code class="javascript">
            {{ javascript }} 
          </code>
        </pre>
      </md-tab>

      <md-tab label="CSS">
        <pre>
          <code class="css">
            {{ css }} 
          </code> 
        </pre>
      </md-tab>
      
    </md-tab-group>
  </md-card>


</div>
