.example-card{
  padding: 0px;
}

table{
  width: 100%;
  border-collapse: collapse; 
  border: 1px solid white;
}

thead{

}

tfoot{

}


tr{
 border: 1px solid lightgray;
 width: 100%;
}

th{
  padding: 15px;
  text-align-last: start;
  color: #959595;
  font-weight: normal;
  background: #eee;
}

tr:hover{
  background: #f6f6f6;
}

td{
  padding: 15px;
}




md-checkbox {
  margin-right: 0px;
}